body {
  font-family: 'Verdana', sans-serif;
  text-align: center;
  background-color: #ffefc1;
  margin: 0;
  color: #333;
}

header {
  background-color: #008080;
  color: white;
  padding: 20px;
}

h1 {
  font-size: 3.5em;
  margin-bottom: 0.2em;
}

p {
  font-size: 1.3em;
}

main {
  margin: 0 auto;
  padding: 20px;
  max-width: 1200px;
}

section {
  margin-bottom: 50px;
}

h2 {
  color: #9932CC;
  font-size: 2.7em;
}

a {
  color: #FF4500;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.2em;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 50%;
  height: auto;
  margin: 15px auto;
  display: block;
}

footer {
  background-color: #008080;
  color: white;
  padding: 10px;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.link-buttons {
  margin-top: 30px;
}

.link-buttons a {
  display: inline-block;
  padding: 12px 25px;
  background-color: #FF6347;
  color: white;
  border-radius: 8px;
  margin: 10px;
}

.link-buttons a:hover {
  background-color: #FF4500;
}

audio {
  margin-top: 40px;
}

