body {
  background-color: #f0f8ff;
  font-family: Arial, sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  padding: 20px;
  background-color: #006994;
  color: white;
}

header h1 {
  font-size: 3em;
}

header p {
  font-size: 1.2em;
}

main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 30px auto;
  width: 90%;
}

.area {
  margin: 20px;
  padding: 15px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 350px;
  text-align: center;
}

.area img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.area h2 a {
  color: #006994;
  text-decoration: none;
}

.area p {
  margin-top: 10px;
  font-size: 1em;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #006994;
  color: white;
  margin-top: 30px;
}
